.main-left {
  .category-title {
    color: $Rose_900;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .cards-wrapper {
    .card {
      border: none;
      background-color: transparent;
      padding: 0 10px !important;
      margin-bottom: 24px;
      .card-header {
        padding: 0;
        position: relative;
        margin-bottom: 36px;
        border: 0;
        img {
          border-radius: 12px;
          box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.06);
        }
        .add-to-cart-btn {
          position: absolute;
          display: flex;
          bottom: -23px;
          padding: 11px 32px;
          border-radius: 56px;
          align-items: center;
          justify-content: center;
          border: 1px solid #b8a0a1;
          left: 50%;
          transform: translateX(-50%);
          background-color: #fff;
          transition: background-color 0.5s ease, border-color 0.5s ease;
          &:hover {
            background-color: hsl(14, 86%, 42%);
            border-color: hsl(14deg 100% 32.79%);
            color: #fff;
          }
          &:hover .add-to-cart-icon svg path {
            fill: #fff;
          }
          .add-to-cart-icon {
            margin-right: 6px;
            vertical-align: -18px;
            margin-bottom: 4px;
          }
          span:last-child {
            width: 87px;
          }
        }
        .add-more-to-cart-btn {
          background-color: $Primary;
          display: flex;
          justify-content: space-between;
          cursor: initial;
          .minus-item-icon,
          .plus-item-icon {
            cursor: pointer;
            line-height: 0;
            width: 18px;
            height: 18px;
            border-radius: 16px;
            display: flex;
            align-items: center;
            border-radius: 18px;
            border: 1.5px solid #ffff;
            justify-content: center;
          }
          .minus-item-icon {
            transform: translateX(-10px);
            svg {
              width: 14px;
              height: 2px;
            }
          }
          .plus-item-icon {
            transform: translateX(10px);
            svg {
              width: 10px;
              height: 10px;
            }
          }
          .items-num {
            font-size: 14px;
            color: #fff;
            font-weight: 400;
          }
        }
      }
      .card-body {
        padding: 0;
        .food-title-abreviation {
          font-size: 17px;
          font-weight: $font_weight_thin;
          font-weight: 400;
          color: #757575;
          margin-bottom: 8px;
        }
        .food-title {
          font-size: 19px;
          font-weight: 400;
          margin-bottom: 12px;
        }
        .food-price {
          color: $Primary;
        }
      }
    }
  }
}
