@media screen and (min-width: 768px) {
  .main-right {
    padding-left: 32px;
  }
}
.main-right {
  .cart-section-container {
    background-color: #fff;
    padding: 28px 24px 40px;
    box-shadow: 0 0 40px 2px #0000000f;
    border-radius: 16px;
    > h3 {
      font-size: 24px;
      color: $Primary;
    }
    .empty-cart {
      text-align: center;
      > svg {
        width: 124px;
        height: auto;
        margin: 48px 0 28px;
      }
      .empty-cart-message {
        font-size: 14px;
        color: #c7c7c7;
        font-weight: 400;
      }
    }
    .cart-items {
      margin-top: 24px;
      .items-wrapper {
        margin-bottom: 40px;
        .item {
          display: flex;
          justify-content: space-between;

          .remove-item-icon {
            justify-content: center;
            margin-top: 8px;
            border: 2px solid rgb(202, 175, 167);
            border-radius: 50%;
            line-height: 0;
            display: flex;
            align-items: center;
            width: 16px;
            height: 16px;
            cursor: pointer;
            svg {
              width: 10px;
              height: 10px;
              vertical-align: initial;
            }
          }
        }
        .item:not(:last-child) {
          margin-bottom: 28px;
        }
      }

      .delivery-section {
        margin: 24px 0;
        padding: 16px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        background-color: $Rose_100;
        .delivery-icon {
          line-height: 0;
          transform: translateY(-1px);
          margin-right: 6px;
        }
        .delivery-message {
          color: #828282;
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }
}
