* {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.thin-font-weight {
  font-weight: 400;
}

.bold-font-weight {
  font-weight: 700;
}

.m-4-5 {
  margin: 2rem !important;
}

.m-x-4-5 {
  margin-right: 2rem !important;
  margin-left: 2rem !important;
}

.m-y-4-5 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.m-e-4-5 {
  margin-left: 2rem !important;
}

.m-s-4-5 {
  margin-right: 2rem !important;
}

.main-left .category-title {
  color: hsl(14, 65%, 9%);
  font-size: 2rem;
  margin-bottom: 2rem;
}
.main-left .cards-wrapper .card {
  border: none;
  background-color: transparent;
  padding: 0 10px !important;
  margin-bottom: 24px;
}
.main-left .cards-wrapper .card .card-header {
  padding: 0;
  position: relative;
  margin-bottom: 36px;
  border: 0;
}
.main-left .cards-wrapper .card .card-header img {
  border-radius: 12px;
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.06);
}
.main-left .cards-wrapper .card .card-header .add-to-card-btn {
  position: absolute;
  display: flex;
  bottom: -23px;
  padding: 11px 32px;
  border-radius: 56px;
  align-items: center;
  justify-content: center;
  border: 1px solid #c0c0c0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}
.main-left .cards-wrapper .card .card-header .add-to-card-btn .add-to-card-icon {
  margin-right: 6px;
  vertical-align: -18px;
  margin-bottom: 4px;
}
.main-left .cards-wrapper .card .card-header .add-to-card-btn span:last-child {
  width: 87px;
}
.main-left .cards-wrapper .card .card-body {
  padding: 0;
}
.main-left .cards-wrapper .card .card-body .food-title-abreviation {
  font-size: 17px;
  font-weight: 400;
  font-weight: 400;
  color: #757575;
  margin-bottom: 8px;
}
.main-left .cards-wrapper .card .card-body .food-title {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 12px;
}
.main-left .cards-wrapper .card .card-body .food-price {
  color: hsl(14, 86%, 42%);
}

@media screen and (min-width: 768px) {
  .main-right {
    padding-left: 32px;
  }
}
.main-right .cart-section-container {
  background-color: #fff;
  padding: 28px 24px 40px;
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.0588235294);
  border-radius: 16px;
}
.main-right .cart-section-container > h3 {
  font-size: 24px;
  color: hsl(14, 86%, 42%);
}
.main-right .cart-section-container .empty-cart {
  text-align: center;
}
.main-right .cart-section-container .empty-cart > svg {
  width: 124px;
  height: auto;
  margin: 48px 0 28px;
}
.main-right .cart-section-container .empty-cart .empty-cart-message {
  font-size: 14px;
  color: #c7c7c7;
  font-weight: 400;
}
.main-right .cart-section-container .cart-items {
  margin-top: 24px;
}
.main-right .cart-section-container .cart-items .items-wrapper {
  margin-bottom: 40px;
}
.main-right .cart-section-container .cart-items .items-wrapper .item {
  display: flex;
  justify-content: space-between;
}
.main-right .cart-section-container .cart-items .items-wrapper .item .remove-item-icon {
  justify-content: center;
  margin-top: 8px;
  border: 2px solid rgb(202, 175, 167);
  border-radius: 50%;
  line-height: 0;
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.main-right .cart-section-container .cart-items .items-wrapper .item .remove-item-icon svg {
  width: 10px;
  height: 10px;
  vertical-align: initial;
}
.main-right .cart-section-container .cart-items .items-wrapper .item:not(:last-child) {
  margin-bottom: 28px;
}
.main-right .cart-section-container .cart-items .delivery-section {
  margin: 24px 0;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: hsl(13, 31%, 94%);
}
.main-right .cart-section-container .cart-items .delivery-section .delivery-icon {
  line-height: 0;
  transform: translateY(-1px);
  margin-right: 6px;
}
.main-right .cart-section-container .cart-items .delivery-section .delivery-message {
  color: #828282;
  font-weight: 400;
  font-size: 14px;
}

.order-confirmation-layout {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  width: 100%;
  height: 100vh;
  background-color: rgba(239, 239, 239, 0.431372549);
  z-index: 100;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
}
.order-confirmation-layout .order-confirmation-modal {
  padding: 44px 40px 40px;
  background-color: #fff;
  border-radius: 16px;
  max-width: 600px;
  width: 100%;
}
.order-confirmation-layout .order-confirmation-modal .order-confirmed-top .oredered-confiremed-icon {
  margin-bottom: 20px;
}
.order-confirmation-layout .order-confirmation-modal .order-confirmed-top .oredered-confiremed-title {
  font-size: 32px;
  color: #3a3a3a;
  margin-bottom: 6px;
  font-weight: 700;
}
.order-confirmation-layout .order-confirmation-modal .order-confirmed-top .oredered-confiremed-message {
  font-size: 13px;
  font-weight: 400;
  color: #8d8d8d;
}
.order-confirmation-layout .order-confirmation-modal .ordered-confiremed-items-list {
  margin: 32px 0;
  background-color: hsl(13, 31%, 94%);
  padding: 28px 32px 28px 28px;
  border-radius: 8px;
}
.order-confirmation-layout .order-confirmation-modal .ordered-confiremed-items-list .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-confirmation-layout .order-confirmation-modal .ordered-confiremed-items-list .item .item-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-confirmation-layout .order-confirmation-modal .ordered-confiremed-items-list .item .item-detail .item-thumb {
  width: 56px;
  height: 56px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 16px;
}
.order-confirmation-layout .order-confirmation-modal .ordered-confiremed-items-list .item .confiremed-item-last-price {
  font-size: 17px;
  font-weight: 400;
}
.order-confirmation-layout .order-confirmation-modal .ordered-confiremed-items-list .item:not(:nth-last-child(2)) {
  margin-bottom: 28px;
}
.order-confirmation-layout .order-confirmation-modal .ordered-confiremed-items-list .item:nth-last-child(2) {
  margin-bottom: 44px;
}

html {
  font-size: 16px;
}

body {
  background-color: hsl(20, 50%, 98%);
}

.main-container {
  display: flex;
  justify-content: space-between;
  margin: 88px auto;
}

.item-name {
  font-size: 15px;
  color: #4b4b4b;
  margin-bottom: 4px;
}

.item-count {
  font-size: 14px;
  font-weight: 400;
  color: hsl(14, 86%, 42%);
  margin-right: 8px;
}

.item-price {
  font-size: 14px;
  font-weight: 400;
  color: #9c9c9c;
}

.cart-sum-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-sum-price > span:first-child {
  font-weight: 400;
  font-size: 16px;
  color: #878787;
}
.cart-sum-price .sum-price {
  font-size: 24px;
  color: #222222;
}

.primary-btn {
  width: 100%;
  text-align: center;
  padding: 16px 24px;
  border-radius: 200px;
  background-color: hsl(14, 86%, 42%);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border: none;
}/*# sourceMappingURL=style.css.map */